<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="https://test.speed-kit.com/"/>
      <link rel="stylesheet" href="https://www.baqend.com/guide/css/bootstrap-baqend.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="../../img/favicon.ico"/>
      <title>{{ htmlWebpackPlugin.options.title }}</title>
       <!-- Search Engine -->
     <meta name="description" content="Measure how fast your website is. Then boost it.">
     <meta name="image" content="https://test.speed-kit.com/img/twitter.jpg">
     <!-- Schema.org for Google -->
     <meta itemprop="name" content="Page Speed Analyzer">
     <meta itemprop="description" content="Measure how fast your website is. Then boost it.">
     <meta itemprop="image" content="https://test.speed-kit.com/img/twitter.jpg">
     <!-- Twitter -->
     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:title" content="Page Speed Analyzer">
     <meta name="twitter:description" content="Measure how fast your website is. Then boost it.">
     <meta name="twitter:site" content="@Baqendcom">
     <meta name="twitter:creator" content="@Baqendcom">
     <meta name="twitter:image" content="https://test.speed-kit.com/img/twitter.jpg">
     <!-- Open Graph general (Facebook, Pinterest & Google+) -->
     <meta name="og:title" content="Page Speed Analyzer">
     <meta name="og:description" content="Measure how fast your website is. Then boost it.">
     <meta name="og:image" content="https://test.speed-kit.com/img/facebook.jpg">
     <meta name="og:url" content="https://test.speed-kit.com/">
     <meta name="og:site_name" content="Page Speed Analyzer">
     <meta name="og:type" content="website">
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>
