<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://www.baqend.com/guide/css/bootstrap-baqend.min.css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>
