<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=1024">
      <link rel="stylesheet" href="https://www.baqend.com/guide/css/bootstrap-baqend.min.css">
      <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>
