<div class="content">
    <div>
        <div class="container p-32-0 text-center">
            <h1 class="mb-24">Page Speed Analyzer</h1>
            <form id="formConfiguration">
                <div class="urlInput">
                    <input type="text" id="currentVendorUrl" placeholder="Enter URL here...">
                    <button type="submit" class="search-button btn btn-orange btn-ghost">Go</button>
                </div>
                <div id="currentVendorUrlInvalid" style="display: none"></div>
                <div class="row infoBox flex" style="margin-top: 32px; margin-bottom: 0;">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div id="info" class="mb-8 text-right">
                            <span id="resultInfo" class="challenge">Test the performance of your site!</span>
                        </div>
                        <div class="hidden" id="testStatus">
                            <div class="spinner">
                                <div class="dot1"></div>
                                <div class="dot2"></div>
                            </div>
                            <div id="statusCarousel" class="carousel slide vertical mt-20">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <span>Requesting website</span>
                                    </div>
                                    <div class="item">
                                        <span>Analyzing Domains</span>
                                    </div>
                                    <div class="item">
                                        <span>Analyzing Requests</span>
                                    </div>
                                    <div class="item">
                                        <span>Analyzing Response</span>
                                    </div>
                                    <div class="item">
                                        <span id="statusQueue"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 info text-left" id="configInfo">
                        <span class="infoHeader">Choose how to test:</span>
                        <input name="activityTimeout" type="text" class="activityTimeout">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding mt-10">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                                <span class="align-middle">Region of client</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding text-right">
                            <span class="switch-field">
                                <input type="radio" id="location_left" name="switchLanguage"
                                       onclick="handleLocationChange(this)" value="usa"/>
                                <label for="location_left">USA</label>
                                <input type="radio" id="location_right" name="switchLanguage"
                                       onclick="handleLocationChange(this)" value="eu" checked/>
                                <label for="location_right">EU</label>
                            </span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noPadding">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding">
                                <span class="align-middle">Cold cache</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadding text-right">
                            <span class="switch-field">
                                <input type="radio" id="caching_left" name="switchCaching"
                                       onclick="handleCachingChange(this)" value="no"/>
                                <label for="caching_left">NO</label>
                                <input type="radio" id="caching_right" name="switchCaching"
                                       onclick="handleCachingChange(this)" value="yes" checked/>
                                <label for="caching_right">YES</label>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 info text-left hidden" id="runningInfo">
                        <span class="infoHeader">We are running a series of tests against your site</span><br>
                        <span>
                        See how fast your current backend stack delivers your site to users.
                        We will compare the results to a version of your site using Baqend Speed Kit.
                    </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="container wrapper border hidden" id="compareContent">
            <div id="warningMessage" class="row hidden">
                <div class="col-sm-12 alert alert-danger text-center"><strong>Warning:</strong> Your website loads external resources like ads in a synchronous way. This is bad practice and has a negative effect on some metrics.</div>
            </div>
            <div class="row p-16 border-bottom previewBox text-center">
                <div id="numberOfHostsCol">
                    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
                         title="Number of unique hosts referenced by the page.">
                        <span class="fa-stack">
                          <i class="fa fa-circle iconCycle"></i>
                          <i class="fa fa-server iconInner"></i>
                        </span>Domains<br>
                        <h4 class="numberOfHosts noPadding"></h4>
                    </div>
                </div>
                <div id="numberOfRequestsCol">
                    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
                         title="Number of HTTP resources loaded by the page.">
                        <span class="fa-stack">
                          <i class="fa fa-circle iconCycle"></i>
                          <i class="fa fa-paper-plane-o iconInner"></i>
                        </span>Requests<br>
                        <h4 class="numberOfRequests noPadding"></h4>
                    </div>
                </div>
                <div id="numberOfBytesCol">
                    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
                         title="Number of uncompressed response bytes for resources on the page.">
                        <span class="fa-stack">
                          <i class="fa fa-circle iconCycle"></i>
                          <i class="fa fa-upload iconInner"></i>
                        </span>Response Size<br>
                        <h4 class="numberOfBytes noPadding"></h4>
                    </div>
                </div>
            </div>
            <div class="row p-16 pt-32 pb-0">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 media-columns text-center">
                    <h4 class="noPadding">Your Website</h4>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 metric-column text-center hidden-md hidden-sm hidden-xs"></div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 media-columns text-center">
                    <h4 class="noPadding">Your Website with Speed Kit</h4>
                </div>
            </div>
            <div class="row p-16 pb-32 flex">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 p-5 media-columns text-center">
                    <div id="competitor"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 metric-column text-center invisible hidden-md hidden-sm hidden-xs testResults">
                    {{> metric }}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-md-6 col-xs-6 p-5 media-columns text-center">
                    <div id="speedKit"></div>
                </div>
            </div>
            <div class="row text-center invisible hidden-lg testResults pb-32">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    {{> metric }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-0"></div>
            </div>
            <div class="row printButtonContainer text-center hidden" id="printButton">
              <div class="pb-32 hidden-md hidden-sm hidden-xs">
                  <button class="btn btn-blue btn-ghost" onclick="printReport()">Print Report</button>
              </div>
            </div>
            <div class="row printTeaser p-16 pt-0">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <img src="../../img/Baqend-logo-newflame.png" alt="baqend logo"/>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    Baqend Speed Kit hooks into your existing website and makes it faster. Speed Kit is the perfect tool
                    for publishers, landing pages, shops, and agencies to minimize page load times and make backends stable.
                    Learn more at <a href="https://www.baqend.com">baqend.com</a> or contact sales@baqend.com.
                </div>
            </div>
            {{> wlist }}
        </div>
    </div>
</div>
<div id="informationContent" class="hidden">
    {{> implementation }}
    {{> cta }}
    <div class="footer dark p-16 text-center">
      © 2017 Baqend -
      <a href="https://dashboard.baqend.com/privacy?_ga=2.257821122.814441134.1502188455-97915681.1502188455">Privacy Policy</a> -
      <a href="https://dashboard.baqend.com/terms">Terms of Service</a> -
      <a href="https://dashboard.baqend.com/imprint">Imprint</a>
    </div>
</div>

<div class="footer p-16 text-center">
  © 2017 Baqend -
  <a href="https://dashboard.baqend.com/privacy?_ga=2.257821122.814441134.1502188455-97915681.1502188455">Privacy Policy</a> -
  <a href="https://dashboard.baqend.com/terms">Terms of Service</a> -
  <a href="https://dashboard.baqend.com/imprint">Imprint</a>
</div>

{{> modal }}
