<div class="content">
    <div class="text-center headline">
        <p class="announce">Backend-as-a-Service</p>
        <h1 class="heading">Page Speed Comparison</h1>
        <hr class="wow">
        <input id="currentVendorUrl" class="text-center" type="text" placeholder="Challange your Website here...">
        <br>
        <button class="btn btn-primary reload" onclick="reload()">start</button>
    </div>
    <div class="row frame-wrapper">
        <div class="main-columns col-sm-6 text-center">
            <div class="service btn btn-static">Your Website</div>
            <div class="timing">Load time: <span class="co_time time">...</span></div>
            <div class="iframe-competitor"></div>
        </div>
        <div class="main-columns col-sm-6 text-center">
            <div class="service btn btn-static">Baqend</div>
            <div class="timing">Load time: <span class="bq_time time">...</span></div>
            <div class="iframe-baqend"></div>
        </div>
    </div>
</div>
