.implementation {
  padding: 30px 0;
  margin-top: 40px;
  li {
    margin-bottom: 14px;
  }
  p {
    margin-top: 38px;
  }
  .extra-margin {
    margin-top: 48px;
  }
  line-height: 1.58;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.implementation-text{
  font-size: inherit;
}

.implementation-row {
  padding: 0;
}

.implementation-hidden {
  display: none;
}

@media (min-width: 768px), print {
  .implementation-row {
    padding: 0 100px;
  }

  .implementation-text, #wListConfig {
    font-size: 21px;
  }
}
