@import './carousel';
@import './spinner';
@import './switch';
@import './implementation';
@import './wlist';
@import './print';
@import './layout';

body, html, .content {
  background: #f8f8f8;
  padding: 0;
  height: auto !important;
  min-height: 100%;
  color: rgba(0,0,0,.7);
  line-height: 1.42857143;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  font-size: 28px;
  padding-top: 0;
}

h2 {
  padding-top: 20px;
  font-size: 23px;
}

h3 {
  padding-top: 20px;
  font-size: 20px;
}

h4 {
  padding-top: 20px;
  font-size: 14px;
}

.subhead, .lead {
  color: #888;
  font-weight: 500;
  line-height: 1.4;
}

hr {
  border-top: 0;
  border-bottom: 2px solid #0F202D;
  width: 90%;
}

input {
  color: black;
  border: none;
  outline: none;
  font-size: 16px;
  height: 35px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #FFF; -webkit-box-shadow: 0 0 0px 1000px white inset
}

img {
  width: 100%;
}

#main {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-flow: column;
  > .content {
    min-height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

#speedKit .openButton{
  display: none;
  position:absolute;
  right: 0;
  color: #0F202D !important;
  margin: 5px 10px;
  font-size: 8px;
  padding: 5px;
  z-index: 100;
}

#speedKit:hover .openButton{
  display: inline
}

#cta {
  background: #162939;
  background-size: cover;
  position: relative;
  color: white;
  .lead {
    font-size: 20px;
    color: rgba(255,255,255,0.6);
  }
}

.iconWrapper{
  border-radius: 100%;
  background: #0F202D;
}

.blur {
  filter: blur(1.5px);
}

.content {
  max-width: 1360px;
  margin: 0 auto;
}

.embedVideo {
  width: 100%;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 4px rgba(0,0,0,.05);
}

.iconCycle {
  line-height: inherit;
  font-size: 28px;
  // color: #d3d3d3;
  color: transparent;
}

.iconInner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: rgba(0,0,0,.5);
  line-height: inherit;
  font-size: inherit;
}

.search-button {
  background-color: #FFFFFF;
  color: #0F202D;
  width: 56px;
  height: 35px;
  border: none;
  outline: none;
  padding: 0 6px;
  display: block;
  position: absolute;
  // font-size: 22px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.noPadding {
  padding: 0 !important;
}

.p-5 {
  padding: 5px;
}

.mt-5 {
 margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.hideMobile {
  display: none;
}

.hideDesktop {
  display: inline-block;
}

.primaryCol {
  font-size: 18px;
}

.secondaryCol {
  font-size: inherit;
  color: #7e7e7e;
}

.primaryFactor {
  font-size: 22px;
  font-weight: bold;
  color: #5cb85c;
}

.secondaryFactor {
  font-weight: bold;
  font-size: inherit;
  color: #5cb85c;
}

// .center-vertical {
//   margin-top: 10.5em;
// }

.announce {
  font-size: 18px;
  padding: 20px;
  color: #eee;
}

.challenge {
  font-size: 20px;
}

.printTeaser {
  display: none;
  align-items: center;
}

.noRowMargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.wrapper {
  border-radius: 2px;
  background: white;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.font-weight-normal {
  font-weight: normal !important;
}

.btn {
  border-radius: 2px;
}

.btn-orange {
  &:not(.btn-ghost) {
    color: white;
    background: #F27354;
    border-bottom: 3px solid #F27354;
    &:hover {
      background: #f16746;
      border-bottom: 3px solid #f7ad9b;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &.btn-ghost {
    color: #F27354;
    background: transparent;
    border: 2px solid #F27354;
    &:hover {
      color: white;
      background: #F27354;
    }
  }
}

.btn-blue {
  &:not(.btn-ghost) {
    color: white;
    background: #0F202D;
    border-bottom: 3px solid #0F202D;
    padding-bottom: 7px;
    &:hover {
      background: #0F202D;
      border-bottom: 3px solid #0F202D;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &.btn-ghost {
    color: #0F202D;
    background: transparent;
    border: 2px solid #0F202D;
    padding: 6px 8px;
    &:hover {
      color: white;
      background: #0F202D;
    }
  }
}

.info-icon {
  font-size: 14px;
  vertical-align: text-top;
  cursor: pointer;
}

.tooltipInfo {
  display: inline-block;
  cursor: default;
}

.service {
  font-size: 16px;
  background: none;
  font-weight: normal;
  border: 0;
}

.urlInput {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.01);
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
  max-width: 768px;
  text-align: left;
  padding-right: 56px;
  padding-left: 12px;
  position: relative;
  z-index: 1000;
}

.urlInput:hover, #urlInput:focus {
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.05);
}

// .infoBox {
//   width: 100%;
//   margin: auto;
//   padding: 5px;
// }

.activityTimeout {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: inline;
  width: 50px;
  height: 1em;
  cursor: default;
}

.info {
  border-left: 1px solid #ddd;
}

.bold {
  font-weight: bold;
}

.infoHeader {
  font-size: inherit;
  font-weight: bold;
  line-height: 1.4;
}

.footer {
  font-size: 16px;
  background: white;
  border-top: 1px solid #e8e8e8;
  &, * {
    color: rgba(0,0,0,.7);
  }
  &.dark {
    background: #0f1d28;
    border-color: rgba(255,255,255,0.1);
    margin-bottom: -55px;
    position: relative;
    z-index: 12;
    &, * {
      color: rgba(255,255,255,.7);
    }
  }
}

.alert-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  margin-bottom: 0 !important;
}

.previewBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.laser {
  position: absolute;
  top: 0;
  width: calc(100% - 10px);;
  margin: 0;
  background-color: #0F202D;
  height: 6px;
  opacity: 0.8;
  animation: scanning 6s infinite;
}

@keyframes scanning {
  50% {
    top: 96%;
  }
}

@media (min-width: 768px) {
  body, html, .content {
    font-size: 18px;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
  }

  hr {
    width: 35%;
  }

  input {
    font-size: 20px;
    height: 46px;
  }

  #speedKit .openButton{
    padding: 10px 18px;
    font-size: 14px;
  }

  .search-button {
    height: 46px;
  }

  .infoBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .service {
    font-size: 20px;
  }

  .iconCycle {
    font-size: 34px;
  }

  .iconInner {
    font-size: 18px;
  }

  .primaryCol {
    font-size: 24px;
  }

  .secondaryCol {
    font-size: 16px;
  }

  .secondaryFactor {
    font-size: 16px;
  }
}

@media (min-width: 1200px), print {
  #cta h2 {
    font-size: 50px;
  }

  .infoBox {
    width: 50%;
    margin: 15px auto;
  }

  .challenge {
    font-size: 22px;
  }

  .infoHeader {
    font-size: 18px;
  }

  .service {
    font-size: 28px;
  }

  @keyframes scanning {
    50% {
      top: 98%;
    }
  }
}
