body, html, .content {
  padding: 0;
  min-height: 100%;
}

h1 {
  font-size: 38px;
  padding-top: 80px;
}

.iconWrapper{
  border-radius: 100%;
  background: #0F202D;
}

img {
  width: 100%;
}

.blur {
  filter: blur(1.5px);
}

.content {
  padding: 20px;
  background: #fefefe;
  color: black;
}

.embedVideo {
  width: 100%;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid darkgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#speedKit .openButton{
  display: none;
  position:absolute;
  right: 0px;
  color: #0F202D !important;
  margin: 5px;
  font-size: 14px;
  z-index: 100;
}

#speedKit:hover .openButton{
  display: inline
}

#cta {
  background: radial-gradient(ellipse at center, rgba(21, 25, 46, 0.59) 0, rgb(18, 35, 55) 100%);
  background-size: cover;
  position: relative;
  color: white;
  padding-top: 20px;
}

#cta h2 {
  font-size: 50px;
  font-weight: 400;
}

#cta .announce {
  color: #eee;
  padding: 20px;
}
#cta .triangle {
  color: #f5f5f5;
}

#cta .fancy-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.triangle {
  position: absolute;
  left: 50%;
  top: -50px;
  font-size: 120px;
  margin-left: -35px;
  color: #f5f5f5;
}

.medium-font {
  font-size: 18px;
}

.iconCycle {
  line-height: inherit;
  font-size: 34px;
  color: #d3d3d3;
}

.iconInner {
  position: absolute;
  left: 0;
  width: 100%;
  color: #0F202D;
  line-height: inherit;
  font-size: 18px;
}

input {
  color: black;
  border: none;
  outline: none;
  font-size: 20px;
  height: 48px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #FFF; -webkit-box-shadow: 0 0 0px 1000px white inset
}

.search-button {
  background-color: #FFFFFF;
  color: #0F202D;
  width: 46px;
  height: 46px;
  border: none;
  outline: none;
  padding: 10px 6px;
  display: block;
  position: absolute;
  font-size: 22px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.noPaddding {
  padding: 0;
}

.pt-10 {
  padding-top: 10px;
}

.mt-5 {
 margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.primaryCol {
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}

.secondaryCol {
  font-size: 16px;
  color: #7e7e7e;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}

.primaryFactor {
  font-size: 26px;
  font-weight: bold;
  color: #f16746;
}

.secondaryFactor {
  font-weight: bold;
  color: #f16746;
}

.center-vertical {
  margin-top: 10.5em;
}

.headline {
  margin-bottom: -80px;
}

.announce {
  font-size: 22px;
  color: #c0c8d8;
}

.challenge {
  font-size: 24px;
}

.wow {
  border-color: #0F202D;
}

.printTeaser {
  display: none;
  align-items: center;
}

.noRowMargin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.heading {
  font-weight: 300;
}

.media-columns {
  padding: 20px 0px;
}

.metric-column {
  padding: 20px 30px;
}

.wrapper {
  overflow: hidden;
  height: 800px;
  margin: 0 auto;
  width: 100%;
}

.implementation {
  background-color: #F5F5F5;
  padding: 30px 0;
}

.implementation-text{
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.58
}

.implementation-row {
  padding: 30px 0px;
}

.btn-blue {
  display: none;
  &:not(.btn-ghost) {
    color: white;
    background: #0F202D;
    border-bottom: 3px solid #0F202D;
    padding-bottom: 7px;
    &:hover {
      background: #0F202D;
      border-bottom: 3px solid #0F202D;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &.btn-ghost {
    color: #0F202D;
    background: transparent;
    border: 2px solid #0F202D;
    padding: 6px 8px;
    &:hover {
      color: white;
      background: #0F202D;
    }
  }
}

.info-icon {
  font-size: 14px;
  vertical-align: text-top;
  cursor: pointer;
}

.tooltipInfo {
  display: inline-block;
  cursor: pointer;
}

.service {
  background: none;
  font-weight: normal;
  border: 0;
  font-size: 26px;
}

.urlInput {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px 1px rgba(50, 50, 50, 0.3);
  background-color: #FFFFFF;
  display: inline-block;
  width: 70%;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 1000;
}

.urlInput:hover, #urlInput:focus {
  box-shadow: 0 1px 5px 1px rgba(50, 50, 50, 0.4);
}

.infoBox {
  width: 70%;
  margin: 15px auto;
  padding: 5px;
}

.info {
  border-left: 1px solid #b2b2b2;
}

.bold {
  font-weight: bold;
}

.infoHeader {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.previewBox {
  width: 70%;
  margin: 25px auto;
  padding: 5px;
}

/* carousel css starts here */
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
  left: 0;
}

/* carousel css ends here */

/* spin css starts  here */
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #0F202D;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/* spin css ends  here */

.laser {
  position: absolute;
  top: 0px;
  width: 100%;
  margin: 20px 0px;
  background-color: #0F202D;
  height: 10px;
  opacity: 0.8;
  animation: scanning 6s infinite;
}

@keyframes scanning {
  50% {
    top: 82%;
  }
}

/* switch radio button css starts  here */
.switch-field input {
  display: none;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  max-width: 50%;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
  padding: 3px 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a8a8a8;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  margin-right: -5px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
/* switch radio button css ends  here */

@media (min-width: 992px) {
  h1 {
    font-size: 46px;
  }

  .content {
    padding: 20px 50px;
  }

  .urlInput {
    width: 40%;
  }

  .infoBox {
    width: 40%;
  }

  .challenge {
    font-size: 26px;
  }

  .medium-font {
    font-size: 24px;
  }

  .previewBox {
    width: 60%;
  }

  .service {
    font-size: 28px;
  }

  .btn-blue {
    display: inline-block;
  }

  .implementation-row {
    padding: 30px 100px;
  }

  @keyframes scanning {
    50% {
      top: 90%;
    }
  }
}

@media print {
  @page {
    size: landscape;
  }

  body {
    font-size: 12px;
  }

  h1 {
    font-size: 32px;
    margin-top: -100px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    text-align: center;
  }

  #cta {
    display: none;
  }

  #wListConfig {
    display: none;
  }

  .printTeaser{
    display: flex;
  }

  .wrapper {
    height: 520px;
  }

  .iconCycle {
    display: none;
  }

  .fa-rocket {
    display: none;
  }

  .implementation {
    display: none;
  }

  .challenge {
    font-size: 16px;
  }

  .service {
    font-size: 20px;
  }

  .medium-font {
    font-size: 14px;
  }

  .infoHeader {
    font-size: 12px;
  }

  .infoBox {
    margin: 0px auto;
  }

  .previewBox {
    margin: 0px auto;
  }

  .switch-field label {
    width: 40px;
    font-size: 10px;
  }

  .switch-field input:checked + label {
    background-color: #a8a8a8 !important;
    -webkit-print-color-adjust: exact;
  }

  .primaryCol {
    font-size: 16px;
  }

  .secondaryCol {
    font-size: 11px;
  }

  .primaryFactor {
    font-size: 18px;
    color: #f16746 !important;
    -webkit-print-color-adjust: exact;
  }

  .secondaryFactor {
    color: #f16746 !important;
    -webkit-print-color-adjust: exact;
  }

  *::-webkit-media-controls {
    display:none !important;
  }
}