:root {
  --main-color: #3F86F1;
}

body, html, .content {
  padding: 0;
  min-height: 100%;
}

img {
  max-width: 100% !important;
}

.content {
  padding: 20px 50px;
  background: #fefefe;
  color: black;
}

.embedVideo {
  width: 520px;
  height: 448px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid darkgrey;
  box-shadow: rgba(50, 50, 50, 0.3) 1px 1px 15px 5px;
}

#cta {
  background: radial-gradient(ellipse at center, rgba(21, 25, 46, 0.59) 0, rgb(18, 35, 55) 100%);
  background-size: cover;
  position: relative;
  color: white;
  padding-top: 20px;
}

#cta h2 {
  font-size: 50px;
  font-weight: 400;
}

#cta .announce {
  color: #eee;
  padding: 20px;
}
#cta .triangle {
  color: #fefefe;
}

#cta .fancy-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.triangle {
  position: absolute;
  left: 50%;
  top: -50px;
  font-size: 120px;
  margin-left: -35px;
  color: #f5f5f5;
}

.font-highlight {
  font-size: 24px;
  font-weight: bold;
}

.icon-highlight {
  font-size: 22px;
  color: var(--main-color);
}

input {
  color: black;
  border: none;
  outline: none;
  font-size: 20px;
  height: 48px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #FFF; -webkit-box-shadow: 0 0 0px 1000px white inset
}

.search-button {
  background-color: #FFFFFF;
  color: var(--main-color);
  width: 46px;
  height: 46px;
  border: none;
  outline: none;
  padding: 10px 6px;
  display: block;
  position: absolute;
  font-size: 22px;
  right: 0;
  top: 0;
  cursor: pointer;
}

.urlInput {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 4px 1px rgba(50, 50, 50, 0.3);
  background-color: #FFFFFF;
  display: inline-block;
  width: 40%;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 1000;
}

.urlInput:hover, #urlInput:focus {
  box-shadow: 0 1px 5px 1px rgba(50, 50, 50, 0.4);
}

.noPaddding {
  padding: 0;
}

.pt-10 {
  padding-top: 10px;
}

.mt-5 {
 margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.primaryCol {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}

.secondaryCol {
  font-size: 16px;
  color: #7e7e7e;
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}

.primaryValue {
  color: var(--main-color);
}

.secondaryValue {
  color: #f6c318;
}

.center-vertical {
  margin-top: 10.5em;
}

.headline {
  margin-bottom: -80px;
}

.announce {
  font-size: 22px;
  color: #c0c8d8;
}

.challenge {
  font-size: 26px;
}

.wow {
  border-color: var(--main-color);
}

.heading {
  font-weight: 300;
}

.main-columns {
  padding: 20px 0px;
}

.wrapper {
  overflow: hidden;
  height: 800px;
  margin: 0 auto;
  width: 100%;
}

.btn-blue {
  &:not(.btn-ghost) {
    color: white;
    background: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    padding-bottom: 7px;
    &:hover {
      background: var(--main-color);
      border-bottom: 3px solid var(--main-color);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &.btn-ghost {
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    &:hover {
      color: white;
      background: var(--main-color);
    }
  }
}

.info-icon {
  font-size: 14px;
  vertical-align: text-top;
  cursor: pointer;
}

.service {
  background: none;
  font-weight: normal;
  border: 0;
  font-size: 28px;
}

.infoBox {
  width: 40%;
  margin: 15px auto;
  padding: 5px;
}

.info {
  border-left: 1px solid #b2b2b2;
}

.infoHeader {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.previewBox {
  width: 60%;
  margin: 25px auto;
  padding: 5px;
}

/* carousel css starts here */
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
  left: 0;
}

/* carousel css ends here */

/* spin css starts  here */
.spinner {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--main-color);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/* spin css ends  here */

.laser {
  width: 320px;
  margin: -10px auto;
  background-color: var(--main-color);
  height: 10px;
  opacity: 0.8;
  animation: scanning 6s infinite;
}

@keyframes scanning {
  50% {
    transform: translateY(230px);
  }
}

/* switch radio button css starts  here */
.switch-field input {
  display: none;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
  padding: 3px 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--main-color);
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  margin-right: -5px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
/* switch radio button css ends  here */