#wListConfig {
  li {
    margin-bottom: 14px;
  }
  line-height: 1.58;
}

@media (min-width: 768px), print {
  #wListConfig {
    padding-left: 100px;
    padding-right: 100px;
  }

  #wListConfig {
    font-size: 21px;
  }
}
