<div id="boostWorthiness" class="row hidden">
    <div class="row p-64-0 text-center border-bottom border-top">
        <div class="col-xs-12">
            <h3 class="p-0">How much is this <span class="boostValue"></span>x performance boost worth?</h3>
            <p class="font-weight-normal subhead mt-16">
                Here is what Google and Amazon have found for publishers and e-commerce.
            </p>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0 pt-32">
            <h5 style="height: 20px;">Publishers and Ad-driven Businesses</h5>
            <h4>
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span class="publisherRevenue lightGreen"></span> Revenue
            </h4>
            <span class="previewFormula">
                1/(19/5 - 1)*(PLT Original / PLT Speed Kit - 1) + 1
            </span>
            <div class="pt-16">
                <a href="https://storage.googleapis.com/doubleclick-prod/documents/The_Need_for_Mobile_Speed_-_FINAL.pdf#page=3"
                   target="_blank">DoubleClick study (p. 3)</a>
                "The Need for Mobile Speed" based on 4,500 real websites
            </div>
            <div class="img-container pt-16">
                <img src="../../img/doubleClick.png" alt="DoubleClick logo" style="max-width: 150px;">
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 pt-32">
            <h5 style="height: 20px;">E-Commerce</h5>
            <h4>
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span class="eCommerceRevenue lightGreen"></span> Revenue
            </h4>
            <span class="previewFormula">
                (PLT Original - PLT Speed Kit) * (1 / 100)
            </span>
            <div class="pt-16">
                <a href="http://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt?attredirects=0"
                   target="_blank">Amazon study (p. 10)</a>
                "Make Data Useful" using A/B tests on the Amazon shop
            </div>
            <div class="img-container pt-16">
                <img src="../../img/amazon.png" alt="Amazon logo" style="max-width: 120px;">
            </div>
        </div>
    </div>
</div>
