<div id="boostWorthiness" class="row p-16 hidden">
    <div class="row p-64-0 text-center border-top">
        <div class="col-xs-12">
            <h3 class="p-0">How much is this <span id="boostValue"></span>x performance boost worth?</h3>
            <p class="font-weight-normal subhead mt-16">
                Here is what Google and Amazon have found for publishers and e-commerce.
            </p>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0 pt-32">
            <h5 style="height: 20px;">Publishers and Ad-driven Businesses</h5>
            <h4>
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span id="publisherRevenue" class="lightGreen"></span> Revenue
            </h4>
            <span class="previewFormula">
                Formula = 1/(19/5 - 1)*(PLT Original / PLT Speed Kit - 1) + 1
            </span>
            <div class="pt-16">
                Google/DoubleClick study,
                <a href="https://storage.googleapis.com/doubleclick-prod/documents/The_Need_for_Mobile_Speed_-_FINAL.pdf"
                   target="_blank">page 3</a>
                <strong>"The Need for Mobile Speed"</strong>, real-world study using 4,500 real websites.
            </div>
            <div class="img-container pt-8">
                <img src="../../img/doubleClick.png" alt="DoubleClick logo" style="max-width: 150px;">
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12 col-xs-offset-0 pt-32">
            <h5 style="height: 20px;">E-Commerce</h5>
            <h4>
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span id="eCommerceRevenue" class="lightGreen"></span> Revenue
            </h4>
            <span class="previewFormula">
                Formula = (PLT Original - PLT Speed Kit) * (1 / 100)
            </span>
            <div class="pt-16">
                Amazon performance study <strong>"Make Data Useful"</strong> by Greg Linden,
                <a href="http://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt?attredirects=0"
                   target="_blank">page 10</a> using A/B tests on their own shop.
            </div>
            <div class="img-container pt-8">
                <img src="../../img/amazon.png" alt="Amazon logo" style="max-width: 120px;">
            </div>
        </div>
    </div>
</div>
