<form class="form-inline contact_form">
    <div class="form-group">
        <label for="c_name">Name</label>
        <div class="contactInput">
            <input type="text" id="c_name" name="name" placeholder="Your Name" required="">
        </div>
    </div>
    <div class="form-group">
        <label for="c_email" class="ml-8">E-Mail</label>
        <div class="contactInput">
            <input type="text" id="c_email" name="email"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   placeholder="example@example.com" required="">
        </div>
    </div>
    <button type="submit" class="c_submit btn btn-orange m-8 contactButton">Contact Baqend</button>
    <button id="showTestPool" type="button" class="button btn btn-orange btn-ghost hidden">Show test pool
    </button>
    <p id="confirmContact" class="mb-0 hidden">Thanks. We will get in touch shortly.</p>
</form>

