<div id="cta" class="p-64-0">
    <div class="container">
        <div class="row flex">
            <div class="col-xs-12 col-md-6 text-right text-center-sm">
                <h3 class="mt-0 mb-0">Try <strong>Baqend Speed Kit</strong> Today!</h3>
                <p class="mt-8 lead">Make your websites load instantly</p>
            </div>
            <div class="col-xs-12 col-md-6 text-left text-center-sm">
                <a href="https://www.baqend.com/speedkit.html" class="btn btn-orange btn-ghost m-8">
                    Learn More
                  </a>
                <a href="https://dashboard.baqend.com/register?appType=speedkit" class="btn btn-orange m-8 cta">Get Started for Free</a>
            </div>
        </div>
    </div>
</div>
