<div id="cta">
    <div class="container box marketing">
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h2>Try <strong>Baqend Speed Kit</strong> Today!</h2>
                <p class="announce">Empower your Website to load instantly</p>

                <a href="https://dashboard.baqend.com/signup" class="fancy-button cta">Get Started for Free</a>
            </div>
        </div>
    </div>
</div>