<div id="cta" class="p-64-0">
    <div class="container">
        <div class="row flex">
            <div class="col-xs-12 col-md-7 text-right text-center-xs">
                <h3 class="mt-0 mb-0">Try <strong>Baqend Speed Kit</strong> Today!</h3>
                <p class="mt-8 lead">Empower your Website to load instantly</p>
            </div>
            <div class="col-xs-12 col-md-5 text-left text-center-xs">
                <a href="https://dashboard.baqend.com/signup" class="btn btn-orange m-8 cta">Get Started for Free</a>
            </div>
        </div>
    </div>
</div>
