<div class="implementation m-0 p-64-0">
    <div class="container">
        <div class="row pb-16 text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="p-0">About the Page Speed Analyzer</h2>
                <!-- <hr class="wow"> -->
            </div>
        </div>
        <div class="row implementation-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 implementation-text">
                <p>
                    <span>
                        The page speed analyzer gives you an impression of how <a
                        href="https://www.baqend.com/speedkit.html" target="_blank"><strong>Baqend Speed
                        Kit</strong></a> influences the performance of your website. To this end,
                        <span id="implementation-dots">... </span>
                        <a href="javascript:;" onclick="showImplementation()" id="implementation-toggle">show more</a>
                    </span>
                    <span class="implementation-hidden">
                        the analyzer runs a series of tests against your website and reports how your current backend stack
                        delivers your website compared to a version using Speed Kit. The result on the right simply shows
                        measurements for your site with an embedded
                        <a href="https://developer.mozilla.org/en/docs/Web/API/Service_Worker_API"
                           target="_blank">Service Worker</a> containing Speed Kit's caching logic.
                    </span>
                </p>
                <p class="implementation-hidden">
                    For comparison, the analyzer collects several metrics by using Google's <a
                        href="https://developers.google.com/speed/docs/insights/v1/getting_started" target="_blank">PageSpeed
                    Insights API</a>
                    and private instances of <a href="https://sites.google.com/a/webpagetest.org/docs/private-instances"
                                                target="_blank">WebPagetest</a>.
                    Additionally, the tool collects a <strong>performance video</strong> of both versions to give a
                    visual impression. You can customize the analyzer to your desired test situation:
                </p>
                <ul class="implementation-hidden">
                    <li><strong>Region:</strong> you can switch the location of the client</li>
                    <li><strong>Cold Cache:</strong> choose whether to measure the first view with a cold browser cache
                        or the second view with a warm cache
                    </li>
                    <li><strong>Domains:</strong> provide a comma-separated list of domain patterns to tell Speed Kit
                        which requests it should handle
                    </li>
                </ul>
                <p class="implementation-hidden">
                    Speed Kit achieves its performance through <strong>browser and CDN caching</strong> with new
                    algorithms for cache coherence.
                </p>
            </div>
        </div>
        <div class="row pb-16 text-center implementation-hidden">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="p-0 extra-margin">Is this how my site will look like with Speed Kit?</h2>
            </div>
        </div>
        <div class="row implementation-row implementation-hidden">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 implementation-text">
                <p>
                    No, fine-tuning will make your site even faster. The Page Speed Analyzer uses sensible defaults. However, websites will <strong>load faster</strong>, when Speed Kit is configured specifically for the site:
                </p>
                <ul>
                    <li>By default, all your <strong>subdomains</strong> are handled by Speed Kit. In production, you extend this configuration to all relevant domains, e.g. <em>cdn3.example.com</em>.</li>
                    <li>Speed Kit turns any site into a <strong><a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive Web App</a> (PWA)</strong>. This implies two things. First, your website will still be browsable, when users are offline. Second, users can install your site to their home screen like a native app.</li>
                    <li>If you execute the test with a warm browser cache, by default Speed Kit only serves <strong>up-to-date resources</strong> and loads the rest over the network. This is in contrast to most sites, that will also serve stale resources from the cache.</li>
                    <li>When you deploy Speed Kit, you provide rules or hooks for how Baqend <strong>updates cached content</strong> from your site. This is why Speed Kit will always serve up-to-date content.</li>
                </ul>
                <p>
                For more details on how to integrate Speed Kit to accelerate even
                                    highly dynamic content of your site, see the <a href="https://www.baqend.com/speedkit.html"
                                                                                    target="_blank">Speed Kit page</a> and our <a
                                        href="https://medium.baqend.com/" target="_blank">blog</a>. If you need help during integration
                                    or more information, please contact <a href="mailto:support@baqend.com">support@baqend.com</a>.
                </p>
            </div>
        </div>
    </div>
</div>
