<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
         title="Represents how quickly the page rendered the user-visible content.">
        <span class="primaryFactor speedIndex-factor"></span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 primaryCol pb-16 mb-16 border-bottom">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 competitor-speedIndex" style="font-weight: 600;"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
             title="Represents how quickly the page rendered the user-visible content.">
            Speed Index
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 speedKit-speedIndex" style="font-weight: 600;"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
         title="Measures the amount of time between creating a
            connection to the server and downloading the contents.">
        <span class="secondaryFactor ttfb-factor"></span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-16 mb-16 border-bottom secondaryCol">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 competitor-ttfb"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
             title="Measures the amount of time between creating a
            connection to the server and downloading the contents.">
            <!-- TTFB (Time To First Byte) -->
            Time To First Byte
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 speedKit-ttfb"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
         title="Represents the time when the initial HTML document has been
             completely loaded and parsed, without waiting for external resources.">
        <span class="secondaryFactor dom-factor"></span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-16 mb-16 border-bottom secondaryCol">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 competitor-dom"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
             title="Represents the time when the initial HTML document has been
             completely loaded and parsed, without waiting for external resources.">
            DOMContentLoaded
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 speedKit-dom"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
         title="Measures the time from the start of the initial navigation
            until there was 2 seconds of no network activity after Document Complete.">
        <span class="secondaryFactor fullyLoaded-factor"></span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pb-16 mb-16 border-bottom secondaryCol">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 competitor-fullyLoaded"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
             title="Measures the time from the start of the initial navigation
            until there was 2 seconds of no network activity after Document Complete.">
            FullyLoaded
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 speedKit-fullyLoaded"></div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
         title="Represents the last point in the test when something visually changed on the screen.">
        <span class="secondaryFactor lastVisualChange-factor"></span>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 secondaryCol">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 competitor-lastVisualChange"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="tooltipInfo" data-toggle="tooltip" data-container="body"
             title="Represents the last point in the test when something visually changed on the screen.">
            Last Visual Change
        </div>
    </div>
    <div class="col-lg-3 speedKit-lastVisualChange"></div>
</div>

<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-20 hidden-md hidden-sm hidden-xs">
    <button class="btn btn-blue btn-ghost" onclick="printReport()">Print Report</button>
</div> -->
