<div class="printView">
    <div class="row text-center pt-16">
        <div class="col-xs-12 p-0">
            <h3 class="p-0">How much is this <span class="boostValue"></span>x performance boost worth?</h3>
            <p class="font-weight-normal subhead mt-8 mb-8">
                Here is what Google and Amazon have found for publishers and e-commerce.
            </p>
        </div>
        <div class="col-xs-6 p-0">
            <h5>Publishers and Ad-driven Businesses</h5>
            <h4 class="pt-8">
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span class="publisherRevenue lightGreen"></span> Revenue
            </h4>
        </div>
        <div class="col-xs-6 p-0">
            <h5>E-Commerce</h5>
            <h4 class="pt-8">
                <i class="fa fa-arrow-circle-up lightGreen" aria-hidden="true"></i>
                <span class="eCommerceRevenue lightGreen"></span> Revenue
            </h4>
        </div>
    </div>
    <div class="row printTeaser pt-16">
        <div class="col-xs-1">
            <img src="../../img/Baqend-logo-newflame.png" alt="baqend logo"/>
        </div>
        <div class="col-xs-11">
            Baqend Speed Kit hooks into your existing website and makes it faster. Speed Kit is the perfect tool
            for publishers, landing pages, shops, and agencies to minimize page load times and make backends
            stable.
            Learn more at <a href="https://www.baqend.com">baqend.com</a> or contact sales@baqend.com.
        </div>
    </div>
</div>

