<div class="row p-16 hideOnDefault">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4>
            Here are a few performance tests to illustrate Speed Kit's potential.
        </h4>
        <p class="font-weight-normal subhead">Click a test to learn more.</p>
    </div>
</div>
<div class="row p-16 pt-16 pb-0 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('61af1ae7-01a3-4824-abf8-13332c06ec75');">
            <img class="img-company" src="../../img/fandom.png" alt="Logo Fandom">
        </div>
        <h4 class="pt-8">6.80 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('ba2dff37-2a9f-4122-8c2b-ffc79923470f');">
            <img class="img-company" src="../../img/alibaba.png" alt="Logo Alibaba">
        </div>
        <h4 class="pt-8">5.69 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('8e44cbf1-ed24-4511-b305-84fb5e36182f');">
            <img class="img-company" src="../../img/guardian.png" alt="Logo the guardian">
        </div>
        <h4 class="pt-8">3.86 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('a8d66aa7-e785-414e-a3e0-a16b4b9432cb');">
            <img class="img-company" src="../../img/realtor.png" alt="Logo Realtor">
        </div>
        <h4 class="pt-8">3.49 x Faster</h4>
    </div>
</div>
<div class="row p-16 pt-32 pb-0 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('4b4f9827-b51f-4f62-af92-98d87f3aa819');">
            <img class="img-company" src="../../img/espn.png" alt="Logo ESPN">
        </div>
        <h4 class="pt-8">3.19 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('200453d5-b349-4ec8-b575-ab93f7b8a2f1');">
            <img class="img-company" src="../../img/msn.png" alt="Logo MSN">
        </div>
        <h4 class="pt-8">3.13 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('5025004a-6f22-4c8c-a213-35d69df2e0f4');">
            <img class="img-company" src="../../img/kicker.png" alt="Logo Kicker">
        </div>
        <h4 class="pt-8">3.09 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('0403a722-5717-4a33-82c8-6aadf2426f25');">
            <img class="img-company" src="../../img/molsoncoors.png" alt="Logo MolsonCoors">
        </div>
        <h4 class="pt-8">3.03 x Faster</h4>
    </div>
</div>
<div class="row p-16 pt-32 pb-0 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('e786099b-ef42-4cbe-8cbc-20ccfceed7ee');">
            <img class="img-company" src="../../img/imgur.png" alt="Logo Imgur">
        </div>
        <h4 class="pt-8">2.88 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('b4c4b68c-6588-460d-939b-f9a7c23ca13f');">
            <img class="img-company" src="../../img/walmart.png" alt="Logo Walmart">
        </div>
        <h4 class="pt-8">2.83 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('e7ba755c-7ecc-4d0c-9154-3f36841163f6');">
            <img class="img-company" src="../../img/yelp.png" alt="Logo Yelp">
        </div>
        <h4 class="pt-8">2.61 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('ef2c3d68-a189-4166-9892-a2033055da63');">
            <img class="img-company" src="../../img/reddit.png" alt="Logo Reddit">
        </div>
        <h4 class="pt-8">2.44 x Faster</h4>
    </div>
</div>
<div class="row p-16 pt-32 pb-32 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('c74022ac-5f10-40bc-be53-fbb5e6784315');">
            <img class="img-company" src="../../img/golem.png" alt="Logo Golem">
        </div>
        <h4 class="pt-8">2.32 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('e217e651-2adc-4728-bb07-8499ab3636fe');">
            <img class="img-company" src="../../img/diply.png" alt="Logo Diply">
        </div>
        <h4 class="pt-8">2.05 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('ee047cc7-9dfb-4e85-bb53-40ee65bfe894');">
            <img class="img-company" src="../../img/condenast.png" alt="Logo Conde Nast">
        </div>
        <h4 class="pt-8">1.66 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('6502bada-3f56-4ea5-b56f-9c818ec1b679');">
            <img class="img-company" src="../../img/tumblr.png" alt="Logo Tumblr">
        </div>
        <h4 class="pt-8">1.51 x Faster</h4>
    </div>
</div>
