<div class="row p-16 hideOnDefault">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h4>
            Here are a few performance tests to illustrate Speed Kit's potential.
        </h4>
        <p class="font-weight-normal subhead">Click a test to learn more.</p>
    </div>
</div>
<div class="row p-16 pt-16 pb-0 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('wulahsbookin');">
            <img class="img-company" src="../../img/booking.png" alt="Logo Booking">
        </div>
        <h4 class="pt-10">2.05 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('fz8Srzbraun');">
            <img class="img-company" src="../../img/braun.jpg" alt="Logo Braun">
        </div>
        <h4 class="pt-12">5.16 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('VmjwUdyelp.');">
            <img class="img-company" src="../../img/yelp.png" alt="Logo Yelp">
        </div>
        <h4 class="pt-12">2.51 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('eZ0Oswspiegel.');">
            <img class="img-company" src="../../img/spiegel.png" alt="Logo Spiegel">
        </div>
        <h4 class="pt-12">1.95 x Faster</h4>
    </div>
</div>
<div class="row p-16 pt-32 pb-0 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('PLnp8ccoca-cola.');">
            <img class="img-company" src="../../img/cola.jpg" alt="Logo Coca Cola">
        </div>
        <h4 class="pt-12">2.84 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('mBhx8Ymolsoncoors.');">
            <img class="img-company" src="../../img/molsoncoors.png" alt="Logo Molsoncoors">
        </div>
        <h4 class="pt-12">1.85 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('SQOP8Bnetflix.');">
            <img class="img-company" src="../../img/netflix.png" alt="Logo Netflix">
        </div>
        <h4 class="pt-12">3.19 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('j3wo9uwellsfarg');">
            <img class="img-company" src="../../img/fargo.png" alt="Logo Wellsfargo">
        </div>
        <h4 class="pt-12">2.09 x Faster</h4>
    </div>
</div>
<div class="row p-16 pt-32 pb-32 text-center hideOnDefault">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('MTl1skao');">
            <img class="img-company" src="../../img/aol.png" alt="Logo AOL">
        </div>
        <h4 class="pt-12">1.86 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('XiESylkicker.');">
            <img class="img-company" src="../../img/kicker.png" alt="Logo Kicker">
        </div>
        <h4 class="pt-12">1.93 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('zUpDMfalibaba.');">
            <img class="img-company" src="../../img/alibaba.png" alt="Logo Alibaba">
        </div>
        <h4 class="pt-12">2.15 x Faster</h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-8">
        <div class="img-container" onclick="handleTestExampleClick('cPMTV0computerbild.');">
            <img class="img-company" src="../../img/computer.png" alt="Logo Computerbild">
        </div>
        <h4 class="pt-12">1.6 x Faster</h4>
    </div>
</div>
