<div id="wListConfig" class="text-center hidden">
    <h3 class="pt-10">Unexpected result?</h3>
    <h4>Tell Speed Kit a comma-separated list of domains it should handle</h4>
    <div class="urlInput">
        <input type="text" id="wListInput" onkeydown="if(event.keyCode == 13)initComparison()"
               onclick="showInfoBox()" placeholder="Enter domains here...">
        <button type="button" class="search-button" onclick="initComparison()"><i class="fa fa-rocket"
                                                                                  aria-hidden="true"></i>
        </button>
    </div>
</div>