<div id="wList" class="row p-16">
    <div id="wListConfig" class="row p-64-0 border-top text-center hidden">
        <div class="col-xs-12">
            <h3 class="p-0">Unexpected result?</h3>
            <p id="servedRequestsInfo" class="font-weight-normal hidden">Speed Kit served <strong><span id="servedRequests"></span>%</strong> of all requests. Tell Speed Kit a comma-separated list of <strong>domains</strong> it should handle:</p>
            <h4 class="font-weight-normal p-0 mt-16"></h4>
            <div class="urlInput mt-24">
                <input type="text" id="wListInput" onkeydown="if(event.keyCode == 13)submitComparison()"
                       onclick="showInfoBox()" placeholder="Enter domains here...">
                <button type="button" class="search-button btn btn-orange btn-ghost" onclick="submitComparison()">
                  Go
                </button>
            </div>
        </div>
    </div>
</div>
