<div id="wordPress" class="row flex p-32 border-bottom hidden">
    <div class="col-xs-12 col-sm-4 text-right text-center-xs">
        <img class="img-wordpress" src="../../img/wordpress.png">
    </div>
    <div class="col-xs-12 col-sm-8 text-center-xs">
        <h4 class="">WordPress Plugin</h4>
        <p class="font-weight-normal subhead  ">The WordPress-Plugin makes installing Speed Kit a one-click experience</p>
        <p>
            <a class="btn btn-orange btn-ghost track-click"
               href="https://www.baqend.com/guide/topics/wordpress/" target="_blank">Learn More</a>
        </p>
    </div>
</div>
